<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuu.ymall.web.api.mapper.TbAddressMapper">
  <resultMap id="BaseResultMap" type="com.yuu.ymall.domain.TbAddress">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_address
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yuu.ymall.domain.TbAddress">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_address (user_id, user_name, tel, state, city,  district,
      street_name, is_default)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR},
      #{streetName,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuu.ymall.domain.TbAddress">
    update tb_address
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR} ,
      district = #{district,jdbcType=VARCHAR} ,
      street_name = #{streetName,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <!-- 会员修改地址 -->
    <update id="updateAddress">
        update tb_address
        set user_name = #{userName},
            tel = #{tel},
            state = #{state} ,
            city = #{city} ,
            district = #{district},
            street_name = #{streetName},
            is_default = #{isDefault}
        where id = #{id}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, user_name, tel, state, city, district, street_name, is_default
    from tb_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, user_name, tel, state, city, district, street_name, is_default
    from tb_address
  </select>

    <!-- sql 片断 -->
    <sql id="tbAddressBaseColumns">
        id,
        user_name,
        tel,
        state,
        city,
        district,
        street_name,
        is_default
    </sql>

    <!-- 获取会员地址列表 -->
    <select id="selectByUserId" resultType="tbAddress">
        select <include refid="tbAddressBaseColumns"/>
        from tb_address
        where user_id = #{userId}
        order by is_default desc
    </select>

    <!-- 移除默认地址 -->
    <update id="removeDefault">
      update tb_address set is_default = false where user_id = #{userId}
    </update>


</mapper>
