<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuu.ymall.web.api.mapper.TbOrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.yuu.ymall.domain.TbOrderItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <!-- 根据订单 id 删除订单商品 -->
    <delete id="deleteByOrderId">
        delete from tb_order_item
        where order_id = #{orderId}
    </delete>

    <insert id="insert" parameterType="com.yuu.ymall.domain.TbOrderItem" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_order_item (id, item_id, order_id, num,
      title, price, total_fee,
      pic_path)
    values (#{id,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{totalFee,jdbcType=DECIMAL},
      #{picPath,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuu.ymall.domain.TbOrderItem" >
    update tb_order_item
    set item_id = #{itemId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      pic_path = #{picPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, item_id, order_id, num, title, price, total_fee, pic_path
    from tb_order_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, item_id, order_id, num, title, price, total_fee, pic_path
    from tb_order_item
  </select>

    <!-- sql 片断 -->
    <sql id="tbOrderItemBaseColumns">
        id,
        item_id,
        order_id,
        num,
        title,
        price,
        total_fee,
        pic_path
    </sql>
    <!-- 根据订单 id,查询订单商品 -->
    <select id="selectByOrderId" resultMap="BaseResultMap">
      select <include refid="tbOrderItemBaseColumns"/>
      from tb_order_item
      where order_id = #{orderId}
    </select>
</mapper>
