<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuu.ymall.web.api.mapper.TbPanelMapper" >
  <resultMap id="BaseResultMap" type="com.yuu.ymall.domain.TbPanel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="limit_num" property="limitNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_panel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuu.ymall.domain.TbPanel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_panel (name, type, sort_order,
      position, limit_num, status,
      created, updated)
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER},
      #{position,jdbcType=INTEGER}, #{limitNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuu.ymall.domain.TbPanel" >
    update tb_panel
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      limit_num = #{limitNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, type, sort_order, position, limit_num, status, created, updated
    from tb_panel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.yuu.ymall.web.api.dto.TbPanelDto" >
    select id, name, type, position
    from tb_panel
    order by sort_order
  </select>
</mapper>
