<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuu.ymall.web.admin.mapper.TbExpressMapper">
  <resultMap id="BaseResultMap" type="com.yuu.ymall.domain.TbExpress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="express_name" jdbcType="VARCHAR" property="expressName" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_express
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuu.ymall.domain.TbExpress">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_express (express_name, sort_order, created, 
      updated)
    values (#{expressName,jdbcType=VARCHAR}, #{sortOrder,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuu.ymall.domain.TbExpress">
    update tb_express
    set express_name = #{expressName,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, express_name, sort_order, created, updated
    from tb_express
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, express_name, sort_order, created, updated
    from tb_express
  </select>

    <sql id="tbExpressBaseColumns">
        a.id,
        a.express_name,
        a.sort_order,
        a.created,
        a.updated
    </sql>

    <!-- 获取快递列表 -->
    <select id="getExpressList" resultMap="BaseResultMap" parameterType="map">
      select <include refid="tbExpressBaseColumns"/>
      from tb_express as a
      order by sort_order asc
    </select>

    <!-- 获取快递总数 -->
    <select id="getTbExpressCount" resultType="int" parameterType="map">
        select count(*)
        from tb_express as a
    </select>
</mapper>