<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuu.ymall.web.admin.mapper.TbPanelContentMapper">
  <resultMap id="BaseResultMap" type="com.yuu.ymall.domain.TbPanelContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="panel_id" jdbcType="INTEGER" property="panelId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="full_url" jdbcType="VARCHAR" property="fullUrl" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pic_url2" jdbcType="VARCHAR" property="picUrl2" />
    <result column="pic_url3" jdbcType="VARCHAR" property="picUrl3" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_panel_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuu.ymall.domain.TbPanelContent">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_panel_content (panel_id, type, product_id, 
      sort_order, full_url, pic_url, 
      pic_url2, pic_url3, created, 
      updated)
    values (#{panelId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT}, 
      #{sortOrder,jdbcType=INTEGER}, #{fullUrl,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{picUrl2,jdbcType=VARCHAR}, #{picUrl3,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuu.ymall.domain.TbPanelContent">
    update tb_panel_content
    set panel_id = #{panelId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      full_url = #{fullUrl,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      pic_url2 = #{picUrl2,jdbcType=VARCHAR},
      pic_url3 = #{picUrl3,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, panel_id, type, product_id, sort_order, full_url, pic_url, pic_url2, pic_url3, 
    created, updated
    from tb_panel_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, panel_id, type, product_id, sort_order, full_url, pic_url, pic_url2, pic_url3, 
    created, updated
    from tb_panel_content
  </select>

    <!-- sql 片断 -->
    <sql id="tbPanelContentColumns">
        a.id,
        a.panel_id,
        a.type,
        a.product_id,
        a.sort_order,
        a.full_url,
        a.pic_url,
        a.pic_url2,
        a.pic_url3,
        a.created,
        a.updated
    </sql>

    <!-- 根据板块 id 获取板块内容 -->
    <select id="getTbPanelContentByPanelId" resultType="TbPanelContent" parameterType="map">
        select <include refid="tbPanelContentColumns"/>
        from tb_panel_content as a
        <where>
            <if test="panelId != null">
                AND a.panel_id = #{panelId}
            </if>
            <if test="search != null and search != ''">
                AND (a.id like concat('%', #{search}, '%')
                OR a.product_id like concat('%', #{search}, '%')
                OR a.full_url like concat('%', #{search}, '%')
                OR a.pic_url like concat('%', #{search}, '%'))
            </if>
        </where>
        order by sort_order
    </select>

    <!-- 条件查询板块内容总数 -->
    <select id="getTbPanelContentCount" resultType="java.lang.Integer" parameterType="map">
        select count(*)
        from tb_panel_content
        <where>
            <if test="panelId != null">
                AND panel_id = #{panelId}
            </if>
        </where>
    </select>

    <!-- 查询商品是否关联首页商品 -->
    <select id="selectContentByIid" resultType="int">
        select count(*)
        from tb_panel_content
        where product_id = #{id}
    </select>

</mapper>