<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuu.ymall.web.admin.mapper.TbPanelMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_panel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuu.ymall.domain.TbPanel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_panel (name, type, sort_order, 
      position, limit_num, status, 
       created, updated
      )
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, 
      #{position,jdbcType=INTEGER}, #{limitNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
       #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuu.ymall.domain.TbPanel">
    update tb_panel
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      limit_num = #{limitNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="tbPanel">
    select id, name, type, sort_order, position, limit_num, status, created,
    updated
    from tb_panel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="tbPanel">
    select id, name, type, sort_order, position, limit_num, status, created,
    updated
    from tb_panel
  </select>

    <!-- sql 封装 -->
    <sql id="tbPanelColumns">
        a.id,
        a.name,
        a.type,
        a.sort_order,
        a.position,
        a.limit_num,
        a.status,
        a.created,
        a.updated
    </sql>

    <!-- 根据条件查询所有板块 -->
    <select id="getPanelList" parameterType="map" resultType="tbPanel">
        SELECT
        <include refid="tbPanelColumns" />
        FROM
        tb_panel AS a
        <where>
            <if test="type == -1">
                AND a.type != 0
            </if>
            <if test="type == 0">
                AND a.type = #{type}
            </if>
            AND a.position = #{position}
        </where>
        ORDER BY a.sort_order
    </select>

    <!-- 根据板块的类型查询板块 -->
    <select id="getPanelByType" resultType="tbPanel">
        SELECT
        <include refid="tbPanelColumns" />
        FROM
        tb_panel AS a
        WHERE a.type = #{type}
    </select>
</mapper>